<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="static/graphs.js"></script>
    {% block head %}
        
    {% endblock head %}
</head>
<body style="padding: 0; margin: 0; background-color: #EEF4F7;">
    <div class="intro">
        <h1 class="text-center">Detailed View of Data</h1>
    </div>
    
    <br>
    <div id="daterange">
        <div class="form-inline custom d-flex justify-content-between">
    
            <label for="start">Start:</label>
            <input type="date" id="start" name="Start" class="form-control">

            <label for="end">End:</label>
            <input type="date" id="end" name="End" class="form-control">
            {% if mode == "graphs" %}
                <label for="type">Type:</label>
                <select id="type" class="form-control">
                    <option value="one" >One Graph</option>
                    <option value="Multiple">Multiple</option>
                </select>
            {% endif %}

            <button class="btn-primary form-control" id="submit">Submit</button>    
            
        </div>
        <div class="form-inline custom">
            
        </div>
    </div>
    {% block custom_content %}
        
    {% endblock custom_content %}


    

    <script>
        var tnow = "{{ tnow }}";
        var tafter = "{{ tafter }}";

    </script>
</body>
</html>
