<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-app.js"></script>                                    
    <script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-database.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="static/js/firebase.js"></script>
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
    <div class="container1">
        <img src="static/img/heart.png" alt="Heart Rate Image">
        <div class="bpm"><h1 id = "bpm">22</h1></div>
    </div>

    <div class="container1">
        <img src="static/img/temp.png" alt="Temperature Image">
        <div class="gsr"><h1 id = "gsr">22</h1></div>
    </div>
<!-- 
    <h1>GSR</h1>
    <h4 id="gsr"></h4> <br><br>

    <h1>Temperature</h1>
    <h4 id="temperature"></h4> <br><br> -->


</body>
</html>